::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #295e61; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4345;
}